<div class="container">
    <div class="row">
        <div class="three columns">
            <img src="assets/img/cheeseburger-flat-icon-by-vexels.png" width="100%" height="auto" id="header-img">
        </div>
        <div class="nine columns" id="header-container"> 
            <h1 class="first-heading">
                Eat Da Burger
            </h1>
        </div>
    </div>
    {{!-- <div class="row">
        <div class="four columns">
            <h5>
                Burgers Available
            </h5>
        </div>
        <div class="four columns">
            &nbsp;
        </div>
        <div class="four columns">
            <h5>
                Burgers Devoured
            </h5>
        </div>
    </div> --}}
    <div class="row">
        <div class="four columns">
            <h5>
                Burgers Available
            </h5>
            <div id="hawtBurgers">
                {{#each burgers}}
                    {{#unless devoured}}
                        <p class="burgerAvail" data-burger-id="{{id}}">{{burger_name}}</p>
                    {{/unless}}
                {{/each}}
            </div>
        </div>
        <div class="four columns">
            <h5>
                &nbsp;
            </h5>
            <div id="devourButtons">
                {{#each burgers}}
                    {{#unless devoured}}
                        <p class="button-wrapper"><button class="devourBtn" data-burger-id="{{id}}">Devour It!</button></p>
                    {{/unless}}
                {{/each}}    
            </div>
        </div>
        <div class="four columns">
            <h5>
                Burgers Devoured
            </h5>
            <div id="burgersDevoured">
                {{#each burgers}}
                    {{#if devoured}}
                        <p class="burgerDevoured" data-burger-id="{{id}}">{{burger_name}}</p>
                    {{/if}}
                {{/each}}
            </div>
        </div>
    </div>
    <div class="row extra-space-top">
        <div class="12 columns"></div>
            <form id="burgerForm" method="post">
                <label for="burger">Enter a burger you would like to eat</label>
                <textarea class="u-full-width" id="burgerName"></textarea>
                <button type="submit" class="button-primary" id="burgerSubmit">Feed Me!</button>
            </form>
        </div>
    </div>
</div>